<nav class="navbar">
  <a href="/">
    <div class="navbar-logo">
      <img class="navbar-logo-image" src="/assets/sit_logo.png" alt="logo" aria-hidden="true">
    </div>
  </a>
  <ul class="navbar-list">
    <li><a href="/dashboard" class="mouse">DASHBOARD</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle">JOBS &#9662;</a>
      <ul class="dropdown-menu">
        <li><a href="/job-search">Job Search</a></li>
        <li><a href="/my-applications">My Applications</a></li>
      </ul>
    </li>
    <li><a href="/student-profile" class="mouse">MY PROFILE</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle">Hello user &#9662;</a>
      <ul class="dropdown-menu">
        <li><a href="/reset-password">Reset Password</a></li>
        <li><a href="/sign-out">Sign out</a></li>
      </ul>
    </li>
  </ul>
</nav>

      <!-- testing for mobile screen-->
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/" class="navbar-brand">
          <img class="navbar-logo-image" src="/assets/sit_logo.png" alt="logo" aria-hidden="true">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="jobsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jobs</a>
              <ul class="dropdown-menu" aria-labelledby="jobsDropdown">
                <li><a href="/job-search" class="dropdown-item">Job Search</a></li>
                <li><a href="/my-applications" class="dropdown-item">My Applications</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/student-profile" class="nav-link">My Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello user</a>
              <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a href="/reset-password" class="dropdown-item">Reset Password</a></li>
                <li><a href="/sign-out" class="dropdown-item">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav> -->