.navbar-list
{
    display: flex;
    margin-left: auto; /*align right, might change this, doesn't feel right for some reason?*/
    margin-right: 2em;
    margin-top: 2em;
    gap: 3rem;

    > li{
        display: inline-block;
        font-weight: bold;
        font-size: x-large;
        
        > a {
            text-decoration: none;
            color: #000000; 
        }
    }
}

.navbar{
    display: flex;
    padding: 1em;
    justify-content: center;
}

.mouse:hover {
    color: red;
  }

.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000; /* Default text color */
}

.dropdown-toggle:hover {
    color: red; /* Change color on hover */
}

.dropdown-menu{
    display:none;
    position:absolute;
    top: 30%;
    left: 0;
    background-color: #fff;
    border: 1px solid #060606;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }
