<section class="result-list-item-content">
    <div class="result-list-item-body">
        <!-- temp -->
        <img src="/assets/sit_logo.png" />

        <section class="job-item">
            <div class="job-item-name">
                <h2 class="job-item-title">{{job.title}}</h2>
                <p class="job-item-company">{{job.company}}</p>
            </div>
            <div class="job-item-details-button">
                <h3>View Details</h3>
            </div>
            <div class="job-item-footer">
                <p><img src="/assets/icons/clock.svg">Closed on {{job.closingDate}}</p>
                <p *ngIf="job.type=='Full Time' || job.type=='IWSP'">${{job.salary}}</p>
                <p *ngIf="job.type=='Part Time' || job.type=='Contract'">${{job.salary}}/hour</p>
                <p><img src="/assets/icons/user.svg">{{job.vacancies}} Vacancies</p>
                <p><img src="/assets/icons/briefcase.svg">{{job.type}}</p>
            </div>
        </section>

    </div>
</section>
<div class="divider-line"></div>
