.status-section {
    width: 60%;
    margin: auto;
   }

   .status-text {
    margin-bottom: 1em;
    font-size: 28px;
  }

  .status-box-container{
    display: flex;
    flex-direction: row;
  
    justify-content: space-around;
    justify-items: center;
  
    > a{
      text-decoration: none;/* Remove the default link underline */
    }
  }

  .status-box {
    width: 80%;
    background-color: rgb(225, 225, 225);
    padding: 1em;
    display: inline-block;
    align-items: center;
    
    color:black;
    transition: #f09999 0.3s ease;
    border: 1px solid transparent;

    margin-right: 2em;
  }

  .status-box:hover {
    border: 2px solid red;
    background-color: #f09999; /* Change the background color when hovered */
   }

  .status-number {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .word-label {
    font-size: 18px;
  }

  .profile-box {
    background-color: #f2f2f2;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
  }
  
  .profile-picture {
    padding: 1em;
    border-radius: 50%;
  }
  
  .profile-username {
    font-size: 18px;
  }  

  


  /*2nd draft - working to certain extent*/

  /* .status-section {
    display: flex;
    padding-top: 2em;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px;
  }
  
  .status-text {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 5%; 
  }

  .status-link:hover .status-box {
    background-color: #f09999; 
   }
  
  .status-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .status-box {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
  }

  .status-link {
    text-decoration: none; 
   }
  
  .word-label {
    font-size: 16px;
  }
  
  .profile-box {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-username {
    font-size: 18px;
  }
   */
  

