<section class="status-section">
    <h1 class="status-text">Status</h1>
    <a href="/appliedjobs">
    <div class="status-box">
      <h3 class="status-number">123</h3>
      <h4 class="word-label">Applied Jobs</h4>
    </div>
  </a>
  <a href="/shortlisted">
    <div class="status-box">
      <h3 class="status-number">45</h3>
      <h4 class="word-label">Shortlisted</h4>
    </div>
  </a>
  <a href="/offeredjobs">
    <div class="status-box">
      <h3 class="status-number">12</h3>
      <h4 class="word-label">Offered Jobs</h4>
    </div>
  </a>
    <div class="profile-box">
        <img src="/assets/profile-pic.jpeg" alt="Profile Picture" class="profile-picture">
        <h4 class="profile-username">John Doe</h4>
      </div>

    <h1 class="status-text">Latest Application</h1>
    <div class="status-box-container"></div>
  </section>