<!-- <h1 style="text-align: center; margin: 5% 0 10% 0">Insert Dashboard Here</h1> -->
<!-- <section class="status-section">
    <a href="#" class="status-link">
      <div class="status-box">
        <h3 class="status-number">123</h3>
        <h4 class="status-label">Applied jobs</h4>
      </div>
    </a>
    <a href="#" class="status-link">
      <div class="status-box">
        <h3 class="status-number">45</h3>
        <h4 class="status-label">Shortlisted</h4>
      </div>
    </a>
    <a href="#" class="status-link">
      <div class="status-box">
        <h3 class="status-number">12</h3>
        <h4 class="status-label">Offered jobs</h4>
      </div>
    </a>
  </section> -->

  <section class="status-section">
    <a href="#" class="status-link"></a>
    <div class="status-box">
      <h3 class="status-number">123</h3>
      <h4 class="status-label">Applied jobs</h4>
    </div>
    <a href="#" class="status-link"></a>
    <div class="status-box">
      <h3 class="status-number">45</h3>
      <h4 class="status-label">Shortlisted</h4>
    </div>
    <a href="#" class="status-link"></a>
    <div class="status-box">
      <h3 class="status-number">12</h3>
      <h4 class="status-label">Offered jobs</h4>
    </div>
    <div class="profile-box">
        <img src="/assets/profile-pic.jpeg" alt="Profile Picture" class="profile-picture">
        <h4 class="profile-username">John Doe</h4>
      </div>
  </section>
 
<app-job-search></app-job-search>